<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib/spring.jar!/" />
      <root url="jar://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib/spring-webmvc.jar!/" />
      <root url="jar://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib/spring-security.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>