<component name="ArtifactManager">
  <artifact name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <properties id="ant-postprocessing">
      <options enabled="true" />
    </properties>
    <root id="root">
      <element id="directory" name="agent">
        <element id="archive" name="nuget-agent.zip">
          <element id="archive" name="nuget-agent.jar">
            <element id="module-output" name="nuget-agent" />
          </element>
          <element id="archive" name="nuget-common.jar">
            <element id="module-output" name="nuget-common" />
          </element>
          <element id="file-copy" path="$PROJECT_DIR$/nuget-agent/teamcity-agent-plugin.xml" output-file-name="teamcity-plugin.xml" />
        </element>
      </element>
      <element id="directory" name="server">
        <element id="archive" name="nuget-server.jar">
          <element id="module-output" name="nuget-server" />
        </element>
        <element id="archive" name="nuget-common.jar">
          <element id="module-output" name="nuget-common" />
        </element>
        <element id="archive" name="nuget-resources.jar">
          <element id="directory" name="buildServerResources">
            <element id="dir-copy" path="$PROJECT_DIR$/nuget-server/resources" />
          </element>
        </element>
        <element id="library" level="project" name="commons-http" />
      </element>
      <element id="file-copy" path="$PROJECT_DIR$/server/teamcity-server-plugin.xml" output-file-name="teamcity-plugin.xml" />
      <element id="directory" name="bin">
        <element id="dir-copy" path="$PROJECT_DIR$/nuget-extensions/bin" />
      </element>
      <element id="directory" name="bin-server">
        <element id="dir-copy" path="$PROJECT_DIR$/nuget-extensions/bin-server" />
      </element>
    </root>
  </artifact>
</component>